
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Warehouse View | Flickpost</title>
    <meta name="description" content="Flickpost is a dynamic e-commerce solutions provider, presenting connections to 200+ countries around the world. Flickpost specializes in cross-border solutions for international shipments – whether a few grams or large parcels. Our objective is to assist e-commerce sellers and SMEs save time and reduce shipping costs, where they can send anything to anywhere affordably and hassle-free.">
    <link rel="shortcut icon" href="icons/favicon32x32-1.jpg">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Tabulator-->
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
    <!--Download-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <script src="js/jquery.quicksearch.js"></script>
    <script type="text/javascript" src="js/countries.js?v=16"></script>
    <meta property="og:title" content="flickpost | Your e-commerce logistics solutions provider ">
    <meta property="og:description" content="Get RM 10 off your first shipment! ">
    <meta property="og:image" content="images/mobile_free_reg.png">
    <meta property="og:image:secure_url" content="images/mobile_free_reg.png" />

    <script>

        function executeUploadReport() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle'); //or  $('#IDModal').modal('hide');
            $("#uploadReportForm").submit();
        }

        function getHtmlValue(val, font){
            if(val !== null && val == 'DUPLICATE'){
                return '<span style="background-color: #FFFF00;font-size:' + font +'px;"><b style="color: #00a136;font-size:' + font +'px;">'+val+'</b></span>';
            } else if(val !== null && val == 'PROCEED'){
                return '<b style="color: #00a136;font-size:' + font +'px;">'+val+'</b></span>';
            } else if(val !== null && val == 'ON HOLD'){
                return '<b style="color: #cc0000;font-size:' + font +'px;">'+val+'</b></span>';
            } else if(val !== null && val == 'NOT FOUND'){
                return '<b style="color: #bababa;font-size:' + font +'px;">'+val+'</b></span>';
            }
        }

    </script>

</head>

<body>
<div id="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Branding Image -->
                <a class="navbar-brand" href="/weight" ><img src="images/flickpost.png" alt="Flickpost"> </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="images/default.png?v=2" width="20px" th:text="${username}">
                            <span class="ti-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                    <i class="ti-power-off"></i>  Logout
                                </a>

                                <form id="logout-form" th:action="@{'/doLogout'}" method="POST" style="display: none;">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="ti-angle-down"></i>
                    </button>
                    <span class="navbar-brand-sub" >Menu</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a href="/weight"><i class="ti-location-pin"></i> Audited Weight View</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/scan-session"><i class="ti-camera"></i> Scan Session</a></li>
                        <li sec:authorize="hasAnyAuthority('OFFICE', 'ADMIN')"><a href="/shipments"><i class="ti-location-pin"></i> Office View</a></li>
                        <li sec:authorize="hasAnyAuthority('WAREHOUSE', 'ADMIN')" class="menu-item-active"><a href="javascript:void(0)" aria-current="page"><i class="ti-location-pin"></i> Warehouse View</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" data-toggle="modal" data-target="#uploadReportFile"><i class="ti-upload"></i> Upload Report</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/weight">Home</a></li>
            <li class="active">Warehouse View</li>
        </ol>
        <div class="panel panel-default" >
            <div id="first-package-tracking-number"><span><b style="font-size:60px;">Tracking No.</b></span></div>
            <div id="first-package-status"><b style="font-size:60px;">&lt;Status&gt;</b></div>
        </div>
        <div id="packages-table"></div>
         <script th:inline="javascript">

             var tableData = [[${packages}]];
             var firstPackage = tableData.shift();

             if(firstPackage != null) {
                 document.getElementById("first-package-tracking-number").innerHTML = '<span><b style="font-size:60px;">' + firstPackage.code + '</b></span>';
                 document.getElementById("first-package-status").innerHTML = getHtmlValue(firstPackage.status, 60);
             }

             var table = new Tabulator("#packages-table", {
                 index:"Date",
                 layout:"fitColumns",
                 headerSort:false,
                 columns:[
                     {title:"Date", field:"time",resizable: false},
                     {title:"Tracking No.", field:"code",resizable: false},
                     {title:"Status", field:"status",resizable:false, formatter:function (cell, formatterParams) {
                             var val = cell.getValue();
                             return getHtmlValue(val, 20);
                         }},
                 ]
             });


             table.setData(tableData);
         </script>
    </div>
</div>

<div class="container sitefooter">
    <p align="left" style="font-size: 11px;">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        &copy; 2021
        Flickpost. All Rights Reserved.
        <br><i class="ti-arrow-left"></i> Go back to <a href="http://www.flickpost.co">www.flickpost.co</a>
    </p>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>

</div>
<div id="uploadReportFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Shipment Report</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/report/upload'}" accept-charset="UTF-8" class="form-horizontal form-groups excelUpload" id="uploadReportForm" enctype="multipart/form-data">
                    <div class="form-group uploadform">
                        <div class="col-md-6 col-md-offset-3">
                            <h5>Shipment Report</h5>
                            <label class=" control-label">Choose File<br></label>
                            <input class="fileInput" type="file" name="file" required="required" accept=".xls">
                            <br>
                            <p>
                                <button type="button" id="uploadReportBtn" class="btn btn-success btn-rounded" name="action" onclick="executeUploadReport()" value="Submit"><i class="ti-upload"></i> Upload File</button>
                            </p>

                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="modalUploading"></div>
<script src="js/app.js?v=3"></script>
</body>
</html>
