
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audited Weight View | Flickpost</title>
    <meta name="description" content="Flickpost is a dynamic e-commerce solutions provider, presenting connections to 200+ countries around the world. Flickpost specializes in cross-border solutions for international shipments – whether a few grams or large parcels. Our objective is to assist e-commerce sellers and SMEs save time and reduce shipping costs, where they can send anything to anywhere affordably and hassle-free.">
    <link rel="shortcut icon" href="icons/favicon32x32-1.jpg">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/contextmenu.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Tabulator-->
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
    <!--Download-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <script src="js/jquery.quicksearch.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/contextmenu.js"></script>
    <script type="text/javascript" src="js/countries.js?v=16"></script>
    <meta property="og:title" content="flickpost | Your e-commerce logistics solutions provider ">
    <meta property="og:description" content="Get RM 10 off your first shipment! ">
    <meta property="og:image" content="images/mobile_free_reg.png">
    <meta property="og:image:secure_url" content="images/mobile_free_reg.png" />

    <script th:inline="javascript">

        var token = $("meta[name='_csrf']").attr("content");

        function executeEditWeight() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#editWeightForm").submit();
        }

        function executeAddWeight() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#addWeightForm").submit();
        }

        function executeUploadWeight() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#uploadWeightForm").submit();
        }

        function executeUploadImage() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#uploadImageForm").submit();
        }

        function executeUploadReport() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#uploadReportForm").submit();
        }

        function doCheckboxOptions(){
            if(document.getElementById("custom-menu").offsetParent == null){
                selectedData = table.getSelectedData();
                showContextMenu();
            }
        }

        var searching = false;
        $(document).ready(function(){

            var selectedData = null;

            $('#downloadButton').on('click',function(){
                downloadExcel();
            });

            $('#searchButton').on('click',function(){
                $('.searchform').fadeToggle();
                if(!searching) {
                    $("#searchButton").html("<i class=\"ti ti-eraser\"></i> Reset");
                    searching = true;
                } else {
                    $("#searchButton").html("<i class=\"ti ti-search\"></i> Search");
                    $('#from_date').val("");
                    $('#to_date').val("");
                    $('#search_hub').val("");
                    $('#search-tracking_no').val("");
                    table.clearFilter();
                    searching = false;
                }
            });

            //Ajax search
            $('#search-form').on('keyup change paste', 'input, select', function(){
                doPostCall();
            });
        });

        function doPostCall(){
            tableFilters.length = 0;
            var normalizedFromDate = $('#from_date').val();
            var normalizedToDate = $('#to_date').val();
            var normalizedHub = $('#search_hub').val();
            var normalizedTrackingNo = $('#search-tracking_no').val();

            if (normalizedFromDate !== "") {
                tableFilters.push(JSON.parse('{"field": "dateTime", "type":">=", "value":"'+ normalizedFromDate+ '"}'));
            }
            if (normalizedToDate !== "") {
                tableFilters.push(JSON.parse('{"field": "dateTime", "type":"<=", "value":"'+ normalizedToDate+ '"}'));
            }
            if (normalizedHub !== "") {
                tableFilters.push(JSON.parse('{"field": "hub", "type":"=", "value":"'+ normalizedHub+ '"}'));
            }
            if (normalizedTrackingNo !== "") {
                tableFilters.push(JSON.parse('{"field": "trackingNumber", "type":"=", "value":"'+ normalizedTrackingNo+ '"}'));
            }

            table.setFilter(tableFilters);
            $('.searchloader').hide();
        }

        function downloadExcel(){

            selectedData = table.getSelectedData();
            if(selectedData.length > 0){
                var selectedIds = [];
                selectedData.forEach(function (data) {
                    selectedIds.push(data.code);
                });
                var normalizedFromDate = "";
                var normalizedToDate = "";
                var normalizedHub = null;
            } else {
                var normalizedFromDate = $('#from_date').val();
                var normalizedToDate = $('#to_date').val();
                var normalizedHub = $('#search_hub').val();
                var selectedIds = null;
            }

            var downloadRequest =
                JSON.parse('{"from_date": "'+ normalizedFromDate+ '", "to_date": "' + normalizedToDate + '", "hub": "' + normalizedHub + '", "selected": "' + selectedIds + '"}');

            fetch('/weight/download', {
                method: 'POST',
                body: JSON.stringify(downloadRequest),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': token,
                },
            }).then(function(resp) {
                return resp.blob();
            }).then(function(blob) {
                return download(blob, "packages.xls");
            });
        }

        function deleteSelected(){
            fetch('/weight/delete', {
                method: 'POST',
                body: JSON.stringify(selectedData),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': token,
                },
            }).then(function(resp) {
                table.replaceData();
                return true;
            })

        }

    </script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Branding Image -->
                <a class="navbar-brand" href="/weight" ><img src="images/flickpost.png" alt="Flickpost"> </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="images/default.png?v=2" width="20px" th:text="${username}">
                            <span class="ti-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                    <i class="ti-power-off"></i>  Logout
                                </a>

                                <form id="logout-form" th:action="@{'/doLogout'}" method="POST" style="display: none;">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>



        </div>
    </nav>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="ti-angle-down"></i>
                    </button>
                    <span class="navbar-brand-sub" >Menu</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                            <li sec:authorize="isAuthenticated()"><a href="/weight"><i class="ti-location-pin"></i> Audited Weight View</a></li>
                            <li sec:authorize="hasAnyAuthority('OFFICE', 'ADMIN')"><a href="/shipments"><i class="ti-location-pin"></i> Office View</a></li>
                            <li sec:authorize="hasAnyAuthority('WAREHOUSE', 'ADMIN')"><a href="/warehouse"><i class="ti-location-pin"></i> Warehouse View</a></li>
                            <li sec:authorize="isAuthenticated()"><a href="#" data-toggle="modal" data-target="#uploadReportFile"><i class="ti-upload"></i> Upload Report</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <style type="text/css">
        .searchform {
            background: #f5f8fa;
            padding: 15px;
            box-shadow: 0px 5px 3px -3px #cecece;
        }.searchform form{
             overflow-x: auto;
             width: 100%;
             white-space: nowrap;
         }
        .searchform input , .searchform select{
            height: 30px;
            margin: 0 5px 5px 0;
            width: 125px;
            display: inline;
            padding: 5px;
            font-size: 12px;
        }
        .searchloader{
            float: right;
            position: absolute;
            right: 5px;
        }
    </style>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/weight">Home</a></li>
            <li class="active">Audited Weight View</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right" style="margin:20px;">
                    <a class="label label-light" onclick="doCheckboxOptions()" id="checkboxOptionsButton"><i class="ti ti-check-box"></i> Checkbox Options </a> &nbsp;
                    <a class="label label-light" href="#" data-toggle="modal" data-target="#addLine"><i class="ti ti-plus"></i> Add </a> &nbsp;
                    <a class="label label-light" href="#" data-toggle="modal" data-target="#uploadWeightFile"><i class="ti ti-upload"></i> Upload </a> &nbsp;
                    <a class="label label-light" href="#" id="downloadButton"><i class="ti ti-download"></i> Download </a> &nbsp;
                    <a href="#" id="searchButton" class="label label-light"> <i class="ti ti-search"></i> Search </a>
                </div>
                <div class="panel panel-default" >
                    <div class="panel-heading" style="padding:17px;">Manage Audited Weight</div>
                    <div class="searchform" style="display:none">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="searchloader" style="display:none;"><img src="images/loader.gif" auditedWidth="30px"></span>
                                <form method="POST" th:action="@{'/weight'}" accept-charset="UTF-8" id="search-form" class="custom-scrollbar-transparent form-horizontal form-groups">
                                     <select sec:authorize="hasAnyAuthority('ADMIN', 'OFFICE')" id="search_hub" name="hub" class="form-control">
                                            <option th:value="ALL">All Hubs</option>
                                            <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                            <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                        </select>

                                    <input type="text" id="search-tracking_no" class="form-control margin-bottom-8" placeholder="Tracking No">
                                    <input type="date" id="from_date" class="form-control margin-bottom-8"  placeholder="Date">
                                    <input type="date" id="to_date" class="form-control margin-bottom-8"  placeholder="Date">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="packages-table"></div>

                    <script th:inline="javascript">
                            var tableFilters = [];

                            var table = new Tabulator("#packages-table", {
                                index:"Tracking Number",
                                resizableColumns:"header",
                                pagination:"remote",
                                paginationAddRow:"table",
                                layout: "fitColumns",
                                ajaxURL: "/weight/data",
                                ajaxConfig: {
                                    method: "POST",
                                    headers:{
                                        'X-CSRF-Token': token,
                                    }
                                },
                                // ajaxConfig: "POST",
                                ajaxContentType:"json",
                                ajaxFiltering: true,
                                // filters: tableFilters,
                                paginationSize: 10,
                                paginationSizeSelector:[10, 25, 50, 100],
                                columns:[
                                    {formatter:"rowSelection", titleFormatter:"rowSelection", variableHeight:true, widthGrow:0.5, hozAlign:"center", vertAlign:"middle" , headerSort:false, cellClick:function(e, cell){
                                            cell.getRow().toggleSelect();
                                        }},
                                    {title:"Hub", field:"hub", variableHeight:true, widthGrow:0.5, titleFormatter:"textarea", formatter:function (cell, formatterParams) {
                                        var imgName = cell.getValue();
                                        return '<img src="images/hubs/' + imgName +'.png" width="35" height="35"/>';
                                        }},
                                    {title:"Tracking Number", field:"code", variableHeight:true, titleFormatter:"textarea",},
                                    {title:"Audited Length (cm)", field:"L", variableHeight:true, titleFormatter:"textarea", formatter:"money", formatterParams:{thousand:""}},
                                    {title:"Audited Width (cm)", field:"W", variableHeight:true, titleFormatter:"textarea", formatter:"money", formatterParams:{thousand:""}},
                                    {title:"Audited Height (cm)", field:"H", variableHeight:true, titleFormatter:"textarea", formatter:"money", formatterParams:{thousand:""}},
                                    {title:"Audited Weight (kg)", field:"weight", variableHeight:true, titleFormatter:"textarea", formatter:"money", formatterParams:{thousand:""}},
                                    {title:"Audited Volumetric Weight (kg)", field:"audited_volumetric_weight", widthGrow:1.20, variableHeight:true, titleFormatter:"textarea", formatter:"money", formatterParams:{thousand:""}},
                                    {title:"Chargeable Weight (kg)", field:"chargeable_weight", variableHeight:true, titleFormatter:"textarea", formatter:"money", formatterParams:{precision:1, thousand:""}},
                                    {title:"Date and Time", field:"time", variableHeight:true, titleFormatter:"textarea"},
                                    {title:"Image", field:"images", variableHeight:true, widthGrow:0.7, titleFormatter:"textarea", formatter:buttonFormatter},
                                    {title:"Remarks", field:"hid", variableHeight:true, titleFormatter:"textarea"},
                                ]
                            });

                            table.redraw(true);


                            function buttonFormatter(cell){
                                var val = cell.getValue();
                                let trackingNumber = cell.getRow().getCells()[2].getValue();
                                if(val !== null && val !== ''){
                                    var button = document.createElement('button');
                                    button.innerHTML = 'Image';
                                    button.onclick = function(){
                                        document.getElementById('selectedPackage').value=trackingNumber;
                                        openModal(val)
                                    };
                                    return button;

                                } else{
                                    var button = document.createElement('button');
                                    button.innerHTML = 'Image';
                                    button.onclick = function(){
                                        document.getElementById('selectedPackage').value=trackingNumber;
                                        $("#uploadImageFile").modal('toggle'); //see here usage
                                    };

                                    return button;
                                }
                            }

                    </script>
                    </div>

                </div>
            </div>
        </div>
    </div>


<div class="container sitefooter">
    <p align="left" style="font-size: 11px;">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        &copy; 2021
        Flickpost. All Rights Reserved.
        <br><i class="ti-arrow-left"></i> Go back to <a href="http://www.flickpost.co">www.flickpost.co</a>
    </p>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>

</div>

<ul class='custom-menu' id='custom-menu'>
    <li id="updateStatusOption" data-action="updateStatus"><i class="ti ti-ticket">&nbsp;</i>Update Status</li>
    <li id="addCommentOption" data-action="addComment"><i class="ti ti-comment">&nbsp;</i>Add Comment</li>
    <li id="exportShipmentsOption" data-action="exportShipments"><i class="ti ti-download">&nbsp;</i>Export Shipments</li>
    <li id="assignHubOption" data-action="assignHub"><i class="ti ti-location-pin">&nbsp;</i>Assign To Hub</li>
    <li id="printLabelOption" data-action="printLabel"><i class="ti ti-printer">&nbsp;</i>Print Label</li>
    <li id="editSelectedOption" data-action="editSelected"><i class="ti ti-pencil">&nbsp;</i>Edit Selected</li>
    <li id="deleteSelectedOption" data-action="deleteSelected"><i class="ti ti-trash">&nbsp;</i>Delete Selected</li>
</ul>

<!-- The Modal/Lightbox -->
<div id="lightbox" class="lightbox">
    <span class="lightbox-close cursor" onclick="closeModal()">&times;</span>
    <div class="lightbox-modal-content">

        <div class="dynamicImages" style="height:78vh;text-align: center"></div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="thumbnails" style="padding-left:7.5%;">
            <div class="dynamicThumbs"></div>
            <div class="addImages">
                <img class="addImageThumb" src="images/add_image.png" href="#" data-toggle="modal" data-target="#uploadImageFile" style="width: 100%;">
            </div>
        </div>

        <!-- Next/previous controls -->
        <a class="prevThumb" onclick="plusThumbs(-1)">&#10094;</a>
        <a class="nextThumb" onclick="plusThumbs(1)">&#10095;</a>

    </div>
</div>

<!-- Modal -->
<div id="uploadImageFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Image</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/uploadImage'}" accept-charset="UTF-8" class="form-horizontal form-groups excelUpload" id="uploadImageForm" enctype="multipart/form-data">
                    <div class="form-group imageform">
                        <div class="row">
                            <input type="hidden" id="selectedPackage" value="" name="selectedPackage">
                            <div class="col-md-6 margin-bottom-8">
                                <label class="control-label">Status</label>
                                <select id="statusAddImage" name="status_add" class="form-control">
                                    <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 margin-bottom-8">
                                <label class=" control-label">Package Image<br></label>
                                <input class="fileInput" type="file" name="image" accept="image/*">
                            </div>
                        </div>


                        <br>
                        <p>
                            <button type="button" id="uploadImageBtn" class="btn btn-success btn-rounded" name="action" onclick="executeUploadImage()" value="Submit"><i class="ti-plus"></i>Add Image</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="editLine" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Edit Package Info</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/edit'}" accept-charset="UTF-8" class="form-horizontal form-groups" id="editWeightForm" enctype="multipart/form-data">
                    <div class="form-group editform">
                        <input type="hidden" id="editId" name="editId">
                        <input type="hidden" id="editOriginalTN" name="editOriginalTN">
                        <input type="hidden" id="editImageInfos" name="editImageInfos">
                        <div class="row">
                            <div class="col-md-6 margin-bottom-8">
                                <label class="control-label">Hub</label>
                                <select th:disabled="${#authorization.expression('hasAnyAuthority(''WAREHOUSE'')')}" id="hubEdit" name="hub_edit" class="form-control">
                                    <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                    <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Tracking Number*</label><br>
                                <input type="text" id="trackingNumberEdit" name="tracking_number" class="form-control margin-bottom-8" required="required" placeholder="Tracking No.">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Audited Length (cm)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedLengthEdit" name="audited_length" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label>Audited Width (cm)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedWidthEdit" name="audited_width" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label>Audited Height (cm)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedHeightEdit" name="audited_height" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label>Audited Weight (kg)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedWeightEdit" name="audited_weight" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Audited Volumetric Weight (kg)</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedVolumetricWeightEdit" name="audited_volumetric_weight" class="form-control margin-bottom-8" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label>Chargeable Weight (kg)</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="chargeableWeightEdit" name="chargeable_weight" class="form-control margin-bottom-8" placeholder="0.00">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 margin-bottom-8">
                                <label class="control-label">Date*<span class="important">*</span></label>
                                <input type="date" name="date_edit" class="form-control datepicker" id="dateEdit" required="required" placeholder="Select date">
                            </div>
                            <div class="col-md-4 margin-bottom-8">
                                <label class=" control-label">Package Image<br></label>
                                <input class="fileInput" type="file" name="image" accept="image/*">
                            </div>
                        </div>


                        <br>
                        <p>
                            <button type="button" id="editWeightBtn" class="btn btn-success btn-rounded" name="action" onclick="executeEditWeight()" value="Submit"><i class="ti-pencil"></i> Edit Package</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="addLine" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Package Info</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/add'}" accept-charset="UTF-8" class="form-horizontal form-groups" id="addWeightForm" enctype="multipart/form-data">
                    <div class="form-group addform">
                            <div class="row">
                                <div class="col-md-6 margin-bottom-8">
                                    <label class="control-label">Hub</label>
                                    <select th:disabled="${#authorization.expression('hasAnyAuthority(''WAREHOUSE'')')}" id="hubAdd" name="hub_add" class="form-control">
                                        <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                        <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Tracking Number*</label><br>
                                    <input type="text" name="tracking_number" class="form-control margin-bottom-8" required="required" placeholder="Tracking No.">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Audited Length (cm)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_length" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                                <div class="col-md-6">
                                    <label>Audited Width (cm)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_width" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                                <div class="col-md-6">
                                    <label>Audited Height (cm)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_height" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                                <div class="col-md-6">
                                    <label>Audited Weight (kg)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_weight" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Audited Volumetric Weight (kg)</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_volumetric_weight" class="form-control margin-bottom-8" placeholder="0.00">
                                </div>
                                <div class="col-md-6">
                                    <label>Chargeable Weight (kg)</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="chargeable_weight" class="form-control margin-bottom-8" placeholder="0.00">
                                </div>
                            </div>

                        <div class="row">
                        <div class="col-md-4 margin-bottom-8">
                            <label class="control-label">Date*<span class="important">*</span></label>
                            <input type="date" name="date_add" class="form-control datepicker" id="addDate" required="required" placeholder="Select date">
                        </div>
                            <div class="col-md-4 margin-bottom-8">
                                <label class=" control-label">Package Image<br></label>
                                <input class="fileInput" type="file" name="image" accept="image/*">
                            </div>
                        </div>


                            <br>
                            <p>
                                <button type="button" id="addWeightBtn" class="btn btn-success btn-rounded" name="action" onclick="executeAddWeight()" value="Submit"><i class="ti-plus"></i> Add Package</button>
                            </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="uploadWeightFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Audited Weight</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/upload'}" accept-charset="UTF-8" class="form-horizontal form-groups excelUpload" id="uploadWeightForm" enctype="multipart/form-data">
                    <div class="form-group uploadform">
                        <div class="col-md-6">
                            <h5>Audited Weight File</h5>
                            <div class="col-md-6 margin-bottom-8">
                                <label class="control-label">Hub</label>
                                <select th:disabled="${#authorization.expression('hasAnyAuthority(''WAREHOUSE'')')}" id="hub" name="hub" class="form-control">
                                    <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                    <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 margin-bottom-8">
                            <label class=" control-label">Choose file<br></label>
                            <input class="fileInput" type="file" name="file" required="required" accept=".xls">
                            </div>
                            <br>
                            <p>
                                <button type="button" id="uploadWeightBtn" class="btn btn-success btn-rounded" name="action" onclick="executeUploadWeight()" value="Submit"><i class="ti-upload"></i> Upload File</button>
                            </p>

                            <a style="float: right;" href="files/template_package_weight.xls" target="_blank">Download Template File</a><br>

                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="uploadReportFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Shipment Report</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/report/upload'}" accept-charset="UTF-8" class="form-horizontal form-groups excelUpload" id="uploadReportForm" enctype="multipart/form-data">
                    <div class="form-group uploadform">
                        <div class="col-md-6 col-md-offset-3">
                            <h5>Shipment Report</h5>
                            <label class=" control-label">Choose File<br></label>
                            <input class="fileInput" type="file" name="file" required="required" accept=".xls">
                            <br>
                            <p>
                                <button type="button" id="uploadReportBtn" class="btn btn-success btn-rounded" name="action" onclick="executeUploadReport()" value="Submit"><i class="ti-upload"></i> Upload File</button>
                            </p>

                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="modalUploading"></div>
<script src="js/app.js?v=3"></script>
</body>
</html>
