
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audited Weight View | Flickpost</title>
    <meta name="description" content="Flickpost is a dynamic e-commerce solutions provider, presenting connections to 200+ countries around the world. Flickpost specializes in cross-border solutions for international shipments – whether a few grams or large parcels. Our objective is to assist e-commerce sellers and SMEs save time and reduce shipping costs, where they can send anything to anywhere affordably and hassle-free.">
    <link rel="shortcut icon" href="icons/favicon32x32-1.jpg">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/contextmenu.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Tabulator-->
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
    <!--Download-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <script src="js/jquery.quicksearch.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/contextmenu.js"></script>
    <script src="js/scan-session-toggle.js"></script>
    <script src="js/recheck-pending.js"></script>
    <script type="text/javascript" src="js/countries.js?v=16"></script>
    <meta property="og:title" content="flickpost | Your e-commerce logistics solutions provider ">
    <meta property="og:description" content="Get RM 10 off your first shipment! ">
    <meta property="og:image" content="images/mobile_free_reg.png">
    <meta property="og:image:secure_url" content="images/mobile_free_reg.png" />

    <script th:inline="javascript">

        var token = $("meta[name='_csrf']").attr("content");

        function executeEditWeight() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#editWeightForm").submit();
        }

        function executeAddWeight() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#addWeightForm").submit();
        }

        function executeUploadWeight() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#uploadWeightForm").submit();
        }

        function executeUploadImage() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#uploadImageForm").submit();
        }

        function executeUploadReport() {
            $("body").addClass("loading");
            $('#modal-hide-thing').modal('toggle');
            $("#uploadReportForm").submit();
        }

        function doCheckboxOptions(){
            if(document.getElementById("custom-menu").offsetParent == null){
                selectedData = table.getSelectedData();
                showContextMenu();
            }
        }

        var searching = false;
        $(document).ready(function(){

            var selectedData = null;

            $(document).ready(function() {
                $(window).keydown(function(event){
                    if(event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });

            document.addEventListener('keyup', function(e) {
                if (e.keyCode == 27) {
                    closeModal()
                }
            });

            $('#downloadButton').on('click',function(){
                downloadExcel();
            });

            $('#searchButton').on('click',function(){
                $('.searchform').fadeToggle();
                if(!searching) {
                    $("#searchButton").html("<i class=\"ti ti-eraser\"></i> Reset");
                    searching = true;
                } else {
                    $("#searchButton").html("<i class=\"ti ti-search\"></i> Search");
                    $('#from_date').val("");
                    $('#to_date').val("");
                    $('#search_hub').val("");
                    $('#search-tracking_no').val("");
                    table.clearFilter();
                    searching = false;
                }
            });

            //Ajax search
            $('#search-form').on('keyup change', 'input, select', function(){
                doPostCall();
            });
        });

        function doPostCall(){
            tableFilters.length = 0;
            var normalizedFromDate = $('#from_date').val();
            var normalizedToDate = $('#to_date').val();
            var normalizedHub = $('#search_hub').val();
            if(normalizedHub == undefined){
                normalizedHub = $('#default_hub').val();
            }
            var normalizedTrackingNo = $('#search-tracking_no').val();

            if (normalizedFromDate !== "") {
                tableFilters.push(JSON.parse('{"field": "dateTime", "type":">=", "value":"'+ normalizedFromDate+ '"}'));
            }
            if (normalizedToDate !== "") {
                tableFilters.push(JSON.parse('{"field": "dateTime", "type":"<=", "value":"'+ normalizedToDate+ '"}'));
            }
            if (normalizedHub !== "") {
                tableFilters.push(JSON.parse('{"field": "hub", "type":"=", "value":"'+ normalizedHub+ '"}'));
            }
            if (normalizedTrackingNo !== "") {
                tableFilters.push(JSON.parse('{"field": "trackingNumber", "type":"=", "value":"'+ normalizedTrackingNo+ '"}'));
            }

            table.setFilter(tableFilters);
            $('.searchloader').hide();
        }

        function downloadExcel(){

            selectedData = table.getSelectedData();
            if(selectedData.length > 0){
                var selectedIds = [];
                selectedData.forEach(function (data) {
                    selectedIds.push(data.code);
                });
                var normalizedFromDate = "";
                var normalizedToDate = "";
                var normalizedHub = null;
            } else {
                var normalizedFromDate = $('#from_date').val();
                var normalizedToDate = $('#to_date').val();
                var normalizedHub = $('#search_hub').val();
                var selectedIds = null;
            }

            var downloadRequest =
                JSON.parse('{"from_date": "'+ normalizedFromDate+ '", "to_date": "' + normalizedToDate + '", "hub": "' + normalizedHub + '", "selected": "' + selectedIds + '"}');

            fetch('/weight/download', {
                method: 'POST',
                body: JSON.stringify(downloadRequest),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': token,
                },
            }).then(function(resp) {
                return resp.blob();
            }).then(function(blob) {
                return download(blob, "packages.xls");
            });
        }

        function deleteSelected(){
            fetch('/weight/delete', {
                method: 'POST',
                body: JSON.stringify(selectedData),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': token,
                },
            }).then(function(resp) {
                table.replaceData();
                return true;
            })

        }

    </script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid fp-page-shell">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Branding Image -->
                <a class="navbar-brand" href="/weight" ><img src="images/flickpost.png" alt="Flickpost"> </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="images/default.png?v=2" width="20px" th:text="${username}">
                            <span class="ti-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                    <i class="ti-power-off"></i>  Logout
                                </a>

                                <form id="logout-form" th:action="@{'/doLogout'}" method="POST" style="display: none;">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>



        </div>
    </nav>
    <div class="container-fluid fp-page-shell">
        <nav class="navbar navbar-default fp-subnav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <i class="ti-angle-down"></i>
                    </button>
                    <span class="navbar-brand-sub" >Menu</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                                        <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()" class="menu-item-active"><a href="javascript:void(0)" aria-current="page"><i class="ti-location-pin"></i> Audited Weight View</a></li>
                        <li sec:authorize="hasAnyAuthority('WAREHOUSE', 'ADMIN')"><a href="/warehouse"><i class="ti-location-pin"></i> Warehouse View</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/scan-session"><i class="ti-camera"></i> Scan Session View</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right menu-nav-right">
                        <li sec:authorize="isAuthenticated()"><a href="#" id="scanSessionToggleButton"><i class="ti ti-control-play"></i> Start</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" id="recheckPendingButton" data-recheck-context="weight"><i class="ti-reload"></i> Re-check</a></li>
                        <li sec:authorize="isAuthenticated()" class="upload-menu-item dropdown">
                            <a href="#" id="weightUploadMenuButton" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-upload"></i> Upload File
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right upload-submenu" aria-labelledby="weightUploadMenuButton">
                                <li><a href="#" data-toggle="modal" data-target="#uploadReportFile"><i class="ti-upload"></i> Upload Report</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#uploadReferenceFile"><i class="ti-layout"></i> Upload Reference</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <style type="text/css">
        .menu-item-active > a,
        .menu-item-active > a:hover,
        .menu-item-active > a:focus {
            background: #eef3f8 !important;
            color: #2c3e50 !important;
            font-weight: 600;
            cursor: default;
            pointer-events: none;
        }
        .menu-nav-right {
            float: right !important;
        }
        .menu-item-active > a,
        .menu-item-active > a:hover,
        .menu-item-active > a:focus {
            background: #eef3f8 !important;
            color: #2c3e50 !important;
            font-weight: 600;
            cursor: default;
            pointer-events: none;
        }
        .upload-submenu {
            min-width: 210px;
        }
        .upload-submenu > li > a {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .searchform {
            background: #f5f8fa;
            padding: 15px;
            box-shadow: 0px 5px 3px -3px #cecece;
        }.searchform form{
             overflow-x: auto;
             width: 100%;
             white-space: nowrap;
         }
        .searchform input , .searchform select{
            height: 30px;
            margin: 0 5px 5px 0;
            width: 125px;
            display: inline;
            padding: 5px;
            font-size: 12px;
        }
        .searchloader{
            float: right;
            position: absolute;
            right: 5px;
        }
        #packages-table {
            width: 100%;
        }
        #packages-table .tabulator-tableHolder,
        #packages-table .tabulator-tableholder {
            max-height: calc(46px * 13);
            overflow-y: auto;
        }
#packages-table .tabulator {
            min-width: 2400px;
        }
        #packages-table .tabulator-header .tabulator-col,
        #packages-table .tabulator-row .tabulator-cell {
            text-align: center;
            vertical-align: middle;
        }
        #packages-table .tabulator-header .tabulator-col {
            background: #fff;
            min-height: 40px;
            padding: 4px 8px;
        }
        #packages-table .tabulator-header .tabulator-col .tabulator-col-content {
            padding: 0;
        }
        #packages-table .tabulator-row .tabulator-cell {
            padding: 4px 8px;
            line-height: 1.1;
            overflow: visible;
        }
        #packages-table .tabulator-row,
        #packages-table .tabulator-tableholder,
        #packages-table .tabulator-table {
            overflow: visible;
        }
        #packages-table .tabulator-cell img,
        #packages-table .tabulator-cell button {
            vertical-align: middle;
        }
        .condition-indicators {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
        }
        .condition-indicator {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .condition-indicators img {
            width: 18px;
            height: 18px;
            object-fit: contain;
            display: block;
        }
        .condition-global-tooltip {
            position: fixed;
            left: 0;
            top: 0;
            transform: translate(-50%, 0);
            background: rgba(20, 20, 20, 0.96);
            color: #fff;
            padding: 6px 10px;
            border-radius: 6px;
            font-size: 12px;
            line-height: 1.2;
            white-space: nowrap;
            pointer-events: none;
            z-index: 2147483647;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            display: none;
        }
        .condition-global-tooltip::before {
            content: "";
            position: absolute;
            left: 50%;
            top: -10px;
            transform: translateX(-50%);
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgba(20, 20, 20, 0.96) transparent;
        }
        .condition-global-tooltip.tooltip-above::before {
            top: auto;
            bottom: -10px;
            border-color: rgba(20, 20, 20, 0.96) transparent transparent transparent;
        }
        #packages-table .tabulator-row:hover,
        #packages-table .tabulator-row:hover .tabulator-cell {
            z-index: 30;
            position: relative;
        }
        #packages-table .tabulator-tableholder,
        #packages-table .tabulator-tableholder .tabulator-table,
        #packages-table .tabulator-row,
        #packages-table .tabulator-cell,
        #packages-table .tabulator-frozen,
        #packages-table .tabulator-frozen.tabulator-frozen-left,
        #packages-table .tabulator-col.tabulator-frozen,
        #packages-table .tabulator-cell.tabulator-frozen {
            overflow: visible !important;
        }
        #packages-table .tabulator-frozen,
        #packages-table .tabulator-frozen.tabulator-frozen-left,
        #packages-table .tabulator-col.tabulator-frozen,
        #packages-table .tabulator-cell.tabulator-frozen {
            background: #fff !important;
            color: inherit !important;
            z-index: 40 !important;
            will-change: transform;
        }
        #packages-table .tabulator-col.tabulator-frozen,
        #packages-table .tabulator-header .tabulator-frozen {
            z-index: 45 !important;
        }
        #packages-table .tabulator-frozen-left {
            box-shadow: 1px 0 0 #eef3f7;
        }
        .condition-indicator {
            position: relative;
            z-index: 60;
            cursor: default;
        }
        #packages-table .tabulator-header,
        #packages-table .tabulator-row .tabulator-cell {
            border-color: #eef3f7 !important;
        }
        #packages-table .tabulator-row .tabulator-cell {
            border-right: 1px solid #eef3f7;
            border-bottom: 1px solid #eef3f7;
        }
        #packages-table .tabulator-header .tabulator-col {
            border-right: 1px solid #eef3f7;
            border-bottom: 1px solid #e8eef4;
        }
        #packages-table .tabulator-row:hover .tabulator-cell,
        #packages-table .tabulator-row:hover .tabulator-cell.tabulator-frozen,
        #packages-table .tabulator-row:hover .tabulator-frozen,
        #packages-table .tabulator-row.tabulator-selected .tabulator-cell,
        #packages-table .tabulator-row.tabulator-selected .tabulator-cell.tabulator-frozen {
            background: #f3f5f7 !important;
            color: inherit !important;
            overflow: visible;
        }
            .status-text {
            font-weight: 700;
            color: #5f6f82;
        }
        .status-text-proceed {
            color: #1f9d55;
        }
        .status-text-hold {
            color: #c34f4f;
        }
        .status-text-unknown {
            color: #c27a2c;
        }
        .fp-page-shell {
            max-width: 1760px;
            padding-left: 2px;
            padding-right: 2px;
        }
        .fp-subnav {
            margin-bottom: 6px;
            min-height: 36px;
        }
        .fp-page-content {
            margin-top: 0;
        }
        .fp-panel-main {
            margin-top: 0;
        }
        .fp-panel-heading-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            padding: 8px 12px !important;
        }
        .fp-panel-heading-title {
            font-weight: 700;
        }
        .fp-panel-heading-actions {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-wrap: wrap;
        }
        .fp-panel-heading-actions .label {
            margin: 0;
            display: inline-flex;
            align-items: center;
            gap: 6px;
        }
        .fp-panel-heading-actions .label i,
        .btn.btn-rounded i {
            margin-right: 6px;
        }
</style>
    <div class="container-fluid fp-page-shell fp-page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default fp-panel-main" >
                    <div class="panel-heading fp-panel-heading-bar">
                        <div class="fp-panel-heading-title">Manage Audited Weight</div>
                        <div class="fp-panel-heading-actions">
                            <a class="label label-light" onclick="doCheckboxOptions()" id="checkboxOptionsButton"><i class="ti ti-check-box"></i> Checkbox Options </a>
                            <a class="label label-light" href="#" data-toggle="modal" data-target="#addLine"><i class="ti ti-plus"></i> Add </a>
                            <a class="label label-light" href="#" data-toggle="modal" data-target="#uploadWeightFile"><i class="ti ti-upload"></i> Upload </a>
                            <a class="label label-light" href="#" id="downloadButton"><i class="ti ti-download"></i> Download </a>
                            <a href="#" id="searchButton" class="label label-light"><i class="ti ti-search"></i> Search </a>
                        </div>
                    </div>
                    <div class="searchform" style="display:none">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="searchloader" style="display:none;"><img src="images/loader.gif" auditedWidth="30px"></span>
                                <form method="POST" th:action="@{'/weight'}" accept-charset="UTF-8" id="search-form" class="custom-scrollbar-transparent form-horizontal form-groups">
                                     <select sec:authorize="hasAnyAuthority('ADMIN', 'OFFICE')" id="search_hub" name="hub" class="form-control margin-bottom-8">
                                            <option th:value="ALL">All Hubs</option>
                                            <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                            <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                        </select>
                                    <input sec:authorize="hasAnyAuthority('WAREHOUSE')" type="hidden" id="default_hub" th:value="${defaultCompany.code}" name="hub"></option>
                                    <input type="text" id="search-tracking_no" class="form-control margin-bottom-8" placeholder="Tracking No">
                                    <input type="date" id="from_date" class="form-control margin-bottom-8"  placeholder="yyyy-mm-dd">
                                    <input type="date" id="to_date" class="form-control margin-bottom-8"  placeholder="yyyy-mm-dd">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="packages-table"></div>

                    <script th:inline="javascript">
                            var tableFilters = [];

                            var table = new Tabulator("#packages-table", {
                                index:"Tracking Number",
                                resizableColumns:"header",
                                pagination:"remote",
                                paginationAddRow:"table",
                                layout: "fitDataStretch",
                                ajaxURL: "/weight/data",
                                ajaxConfig: {
                                    method: "POST",
                                    headers:{
                                        'X-CSRF-Token': token,
                                    }
                                },
                                // ajaxConfig: "POST",
                                ajaxContentType:"json",
                                ajaxFiltering: true,
                                // filters: tableFilters,
                                rowClick:function(e, row){
                                    if (e.target && (e.target.closest("button") || e.target.closest("a") || e.target.closest("input") || e.target.closest("textarea") || e.target.closest("select") || e.target.closest("label"))) {
                                        return;
                                    }
                                },
                                paginationSize: 10,
                                paginationSizeSelector:[10, 25, 50, 100],
                                columns:[
                                    {formatter:"rowSelection", titleFormatter:"rowSelection", width:60, hozAlign:"center", vertAlign:"middle" , headerSort:false, frozen:true, headerTooltip:true, cellClick:function(e, cell){
                                            cell.getRow().toggleSelect();
                                            e.stopPropagation();
                                        }},
                                    {title:"Hub", field:"hub", width:90, hozAlign:"center", vertAlign:"middle", frozen:true, headerTooltip:true, formatter:function (cell, formatterParams) {
                                        var imgName = cell.getValue();
                                        return '<img src="images/hubs/' + imgName +'.png" width="35" height="35"/>';
                                        }},
                                    {title:"Tracking Number", field:"code", width:180, hozAlign:"center", vertAlign:"middle", frozen:true, headerTooltip:true},
                                    {title:"Shipment ID", field:"shipmentId", width:180, hozAlign:"center", vertAlign:"middle", headerTooltip:true},
                                    {title:"Status", field:"status", width:140, hozAlign:"center", vertAlign:"middle", headerTooltip:true, formatter:statusTextFormatter},
                                    {title:"Destination Country", field:"destinationCountry", width:180, hozAlign:"center", vertAlign:"middle", headerTooltip:true},
                                    {title:"Shipping Mode", field:"shippingMode", width:150, hozAlign:"center", vertAlign:"middle", headerTooltip:true},
                                    {title:"Conditions", field:"itemCondition", width:170, hozAlign:"center", vertAlign:"middle", formatter:conditionsFormatter, headerTooltip:true},
                                    {title:"Audited Length (cm)", field:"L", width:150, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Audited Width (cm)", field:"W", width:150, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Audited Height (cm)", field:"H", width:150, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Audited Volumetric Weight (kg)", field:"audited_volumetric_weight", width:190, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Audited Actual Weight (kg)", field:"weight", width:170, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Audited Chargeable Weight (kg)", field:"audited_chargeable_weight", width:200, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{precision:1, thousand:""}, headerTooltip:true},
                                    {title:"Declared Length (cm)", field:"declaredLength", width:160, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Declared Width (cm)", field:"declaredWidth", width:160, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Declared Height (cm)", field:"declaredHeight", width:160, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Declared Actual Weight (kg)", field:"declaredActualWeight", width:180, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Declared Volumetric Weight (kg)", field:"declaredVolumetricWeight", width:210, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Client Paid Weight (kg)", field:"clientPaidWeight", width:180, hozAlign:"center", vertAlign:"middle", formatter:"money", formatterParams:{thousand:""}, headerTooltip:true},
                                    {title:"Preferred Service Provider", field:"serviceProviderName", width:210, hozAlign:"center", vertAlign:"middle", headerTooltip:true},
                                    {title:"Date and Time", field:"time", width:180, hozAlign:"center", vertAlign:"middle", headerTooltip:true},
                                    {title:"Image", field:"images", width:110, hozAlign:"center", vertAlign:"middle", formatter:buttonFormatter, headerTooltip:true},
                                    {title:"Remarks", field:"hid", width:180, hozAlign:"center", vertAlign:"middle", headerTooltip:true},
                                ]
                            });

                            table.redraw(true);


                            function getStatusTextClass(status){
                                var normalizedStatus = (status || '').toString().toUpperCase();
                                if(normalizedStatus === 'PROCEED'){
                                    return 'status-text status-text-proceed';
                                }
                                if(normalizedStatus === 'ON HOLD'){
                                    return 'status-text status-text-hold';
                                }
                                if(normalizedStatus === 'UNKNOWN'){
                                    return 'status-text status-text-unknown';
                                }
                                return 'status-text';
                            }

                            function statusTextFormatter(cell){
                                var value = cell.getValue();
                                var safeValue = value !== null && value !== '' ? value : '-';
                                return '<span class="' + getStatusTextClass(value) + '">' + safeValue + '</span>';
                            }

                            function conditionsFormatter(cell){
                                var rowData = cell.getRow().getData();
                                var isUnderdeclared = rowData.isUnderdeclared;
                                var oversized = rowData.oversized;
                                var containsBattery = rowData.containsBattery;
                                var containsLiquid = rowData.containsLiquid;
                                var isCommercialPackaging = rowData.isCommercialPackaging;
                                var itemConditionValue = rowData.itemCondition;
                                var isUsed = itemConditionValue != null ? itemConditionValue.toString().toLowerCase() === 'used' : false;

                                function conditionIcon(src, altText, tooltipText) {
                                    return '' +
                                        '<span class="condition-indicator" data-condition-tooltip="' + tooltipText.replace(/"/g, '&quot;') + '">' +
                                            '<img src="' + src + '" alt="' + altText + '">' +
                                        '</span>';
                                }

                                return '' +
                                    '<div class="condition-indicators">' +
                                        conditionIcon(
                                            'images/conditions/scale_' + (isUnderdeclared === true ? 'on' : 'off') + '.png',
                                            'declared weight',
                                            'Declared weight - ' + (isUnderdeclared === true ? 'under' : 'ok')
                                        ) +
                                        conditionIcon(
                                            'images/conditions/ruler_' + (oversized === true ? 'on' : 'off') + '.png',
                                            'oversized',
                                            'Oversized (Economy only) - ' + (oversized === true ? 'yes' : 'no')
                                        ) +
                                        conditionIcon(
                                            'images/conditions/new_' + (isUsed ? 'on' : 'off') + '.png',
                                            'item',
                                            'Item condition - ' + (isUsed ? 'used' : 'new')
                                        ) +
                                        conditionIcon(
                                            'images/conditions/liquid_' + (containsLiquid === true ? 'on' : 'off') + '.png',
                                            'liquid',
                                            'Contains liquid - ' + (containsLiquid === true ? 'yes' : 'no')
                                        ) +
                                        conditionIcon(
                                            'images/conditions/battery_' + (containsBattery === true ? 'on' : 'off') + '.png',
                                            'battery',
                                            'Contains battery - ' + (containsBattery === true ? 'yes' : 'no')
                                        ) +
                                        conditionIcon(
                                            'images/conditions/commercial_' + (isCommercialPackaging === false ? 'on' : 'off') + '.png',
                                            'commercial packaging',
                                            'Commercial packaging - ' + (isCommercialPackaging === false ? 'no' : 'yes')
                                        ) +
                                    '</div>';
                            }

                            function buttonFormatter(cell){
                                var val = cell.getValue();
                                let trackingNumber = cell.getRow().getCells()[2].getValue();
                                if(val !== null && val !== ''){
                                    var button = document.createElement('button');
                                    button.innerHTML = 'Image';
                                    button.onclick = function(){
                                        document.getElementById('selectedPackage').value=trackingNumber;
                                        openModal(val)
                                    };
                                    return button;

                                } else{
                                    var button = document.createElement('button');
                                    button.innerHTML = 'Image';
                                    button.onclick = function(){
                                        document.getElementById('selectedPackage').value=trackingNumber;
                                        $("#uploadImageFile").modal('toggle'); //see here usage
                                    };

                                    return button;
                                }
                            }

                    </script>
                    </div>

                </div>
            </div>
        </div>
    </div>


<div class="container sitefooter">
    <p align="left" style="font-size: 11px;">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        &copy; 2021
        Flickpost. All Rights Reserved.
        <br><i class="ti-arrow-left"></i> Go back to <a href="http://www.flickpost.co">www.flickpost.co</a>
    </p>
</div>

</div>

<div id="condition-global-tooltip" class="condition-global-tooltip"></div>

<ul class='custom-menu' id='custom-menu'>
    <li id="updateStatusOption" data-action="updateStatus"><i class="ti ti-ticket">&nbsp;</i>Update Status</li>
    <li id="addCommentOption" data-action="addComment"><i class="ti ti-comment">&nbsp;</i>Add Comment</li>
    <li id="exportShipmentsOption" data-action="exportShipments"><i class="ti ti-download">&nbsp;</i>Export Shipments</li>
    <li id="assignHubOption" data-action="assignHub"><i class="ti ti-location-pin">&nbsp;</i>Assign To Hub</li>
    <li id="printLabelOption" data-action="printLabel"><i class="ti ti-printer">&nbsp;</i>Print Label</li>
    <li id="editSelectedOption" data-action="editSelected"><i class="ti ti-pencil">&nbsp;</i>Edit Selected</li>
    <li id="deleteSelectedOption" data-action="deleteSelected"><i class="ti ti-trash">&nbsp;</i>Delete Selected</li>
</ul>

<!-- The Modal/Lightbox -->
<div id="lightbox" class="lightbox">
    <div class="lightbox-modal-content">
        <span class="lightbox-close cursor" onclick="closeModal()">&times;</span>
        <div class="dynamicImages" style="height:78vh;text-align: center"></div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="thumbnails" style="padding-left:7.5%;">
            <div class="dynamicThumbs"></div>
            <div class="addImages">
                <img class="addImageThumb" src="images/add_image.png" href="#" data-toggle="modal" data-target="#uploadImageFile" style="width: 100%;">
            </div>
        </div>

        <!-- Next/previous controls -->
        <a class="prevThumb" onclick="plusThumbs(-1)">&#10094;</a>
        <a class="nextThumb" onclick="plusThumbs(1)">&#10095;</a>

    </div>
</div>

<!-- Modal -->
<div id="uploadImageFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Image</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/uploadImage'}" accept-charset="UTF-8" class="form-horizontal form-groups excelUpload" id="uploadImageForm" enctype="multipart/form-data">
                    <div class="form-group imageform">
                        <div class="row">
                            <input type="hidden" id="selectedPackage" value="" name="selectedPackage">
                            <div class="col-md-6 margin-bottom-8">
                                <label class="control-label">Status</label>
                                <select id="statusAddImage" name="status_add" class="form-control">
                                    <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 margin-bottom-8">
                                <label class=" control-label">Package Image<br></label>
                                <input class="fileInput" type="file" name="image" accept="image/*">
                            </div>
                        </div>


                        <br>
                        <p>
                            <button type="button" id="uploadImageBtn" class="btn btn-success btn-rounded" name="action" onclick="executeUploadImage()" value="Submit"><i class="ti-plus"></i>Add Image</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="editLine" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Edit Package Info</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/edit'}" accept-charset="UTF-8" class="form-horizontal form-groups" id="editWeightForm" enctype="multipart/form-data">
                    <div class="form-group editform">
                        <input type="hidden" id="editId" name="editId">
                        <input type="hidden" id="editOriginalTN" name="editOriginalTN">
                        <input type="hidden" id="editImageInfos" name="editImageInfos">
                        <div class="row">
                            <div class="col-md-6 margin-bottom-8">
                                <label class="control-label">Hub</label>
                                <select th:disabled="${#authorization.expression('hasAnyAuthority(''WAREHOUSE'')')}" id="hubEdit" name="hub_edit" class="form-control">
                                    <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                    <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Tracking Number*</label><br>
                                <input type="text" id="trackingNumberEdit" name="tracking_number" class="form-control margin-bottom-8" required="required" placeholder="Tracking No.">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Audited Length (cm)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedLengthEdit" name="audited_length" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label>Audited Width (cm)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedWidthEdit" name="audited_width" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label>Audited Height (cm)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedHeightEdit" name="audited_height" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label>Audited Actual Weight (kg)*</label><br>
                                <input type="number" pattern="^\d*(\.\d{0,4})?$" id="auditedActualWeightEdit" name="audited_actual_weight" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 margin-bottom-8">
                                <label class="control-label">Date*</label>
                                <input type="date" name="date_edit" class="form-control datepicker" id="dateEdit" required="required" placeholder="yyyy-mm-dd">
                            </div>
                            <div class="col-md-4 margin-bottom-8">
                                <label class=" control-label">Package Image<br></label>
                                <input class="fileInput" type="file" name="image" accept="image/*">
                            </div>
                        </div>


                        <br>
                        <p>
                            <button type="button" id="editWeightBtn" class="btn btn-success btn-rounded" name="action" onclick="executeEditWeight()" value="Submit"><i class="ti-pencil"></i> Edit Package</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="addLine" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Package Info</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/add'}" accept-charset="UTF-8" class="form-horizontal form-groups" id="addWeightForm" enctype="multipart/form-data">
                    <div class="form-group addform">
                            <div class="row">
                                <div class="col-md-6 margin-bottom-8">
                                    <label class="control-label">Hub</label>
                                    <select th:disabled="${#authorization.expression('hasAnyAuthority(''WAREHOUSE'')')}" id="hubAdd" name="hub_add" class="form-control">
                                        <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                        <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Tracking Number*</label><br>
                                    <input type="text" name="tracking_number" class="form-control margin-bottom-8" required="required" placeholder="Tracking No.">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Audited Length (cm)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_length" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                                <div class="col-md-6">
                                    <label>Audited Width (cm)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_width" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                                <div class="col-md-6">
                                    <label>Audited Height (cm)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_height" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                                <div class="col-md-6">
                                    <label>Audited Actual Weight (kg)*</label><br>
                                    <input type="number" pattern="^\d*(\.\d{0,4})?$" name="audited_weight" class="form-control margin-bottom-8" required="required" placeholder="0.00">
                                </div>
                            </div>

                        <div class="row">
                        <div class="col-md-4 margin-bottom-8">
                            <label class="control-label">Date*</label>
                            <input type="date" name="date_add" class="form-control datepicker" id="addDate" required="required" placeholder="yyyy-mm-dd">
                        </div>
                            <div class="col-md-4 margin-bottom-8">
                                <label class=" control-label">Package Image<br></label>
                                <input class="fileInput" type="file" name="image" accept="image/*">
                            </div>
                        </div>


                            <br>
                            <p>
                                <button type="button" id="addWeightBtn" class="btn btn-success btn-rounded" name="action" onclick="executeAddWeight()" value="Submit"><i class="ti-plus"></i> Add Package</button>
                            </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="uploadWeightFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Audited Weight</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/weight/upload'}" accept-charset="UTF-8" class="form-horizontal form-groups excelUpload" id="uploadWeightForm" enctype="multipart/form-data">
                    <div class="form-group uploadform">
                        <div class="col-md-6">
                            <h5>Audited Weight File</h5>
                            <div class="col-md-6 margin-bottom-8">
                                <label class="control-label">Hub</label>
                                <select th:disabled="${#authorization.expression('hasAnyAuthority(''WAREHOUSE'')')}" id="hub" name="hub" class="form-control">
                                    <option th:value="${defaultCompany.code}" th:text="${defaultCompany.name}"></option>
                                    <option th:each="company : ${companies}" th:value="${company.code}" th:text="${company.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-4 margin-bottom-8">
                            <label class=" control-label">Choose file<br></label>
                            <input class="fileInput" type="file" name="file" required="required" accept=".xls">
                            </div>
                            <br>
                            <p>
                                <button type="button" id="uploadWeightBtn" class="btn btn-success btn-rounded" name="action" onclick="executeUploadWeight()" value="Submit"><i class="ti-upload"></i> Upload File</button>
                            </p>

                            <a style="float: right;" href="files/template_package_weight.xls" target="_blank">Download Template File</a><br>

                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="uploadReportFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Shipment Report</h4>
            </div>

            <div class="modal-body" style="padding: 10px 25px;">
                <form method="POST" th:action="@{'/report/upload'}" accept-charset="UTF-8" class="form-horizontal form-groups excelUpload" id="uploadReportForm" enctype="multipart/form-data">
                    <div class="form-group uploadform">
                        <div class="col-md-6 col-md-offset-3">
                            <h5>Shipment Report</h5>
                            <label class=" control-label">Choose File<br></label>
                            <input class="fileInput" type="file" name="file" required="required" accept=".xls">
                            <br>
                            <p>
                                <button type="button" id="uploadReportBtn" class="btn btn-success btn-rounded" name="action" onclick="executeUploadReport()" value="Submit"><i class="ti-upload"></i> Upload File</button>
                            </p>

                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="uploadReferenceFile" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Upload Parcels Reference</h4>
            </div>
            <div class="modal-body" style="padding: 10px 25px;">
                <form id="uploadReferenceForm" class="form-horizontal form-groups excelUpload">
                    <div class="form-group uploadform">
                        <div class="col-md-6 col-md-offset-3">
                            <h5>Parcels Reference</h5>
                            <label class="control-label">Choose File<br></label>
                            <input class="fileInput" type="file" name="file" accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            <br>
                            <p class="text-muted">Reference placeholder only for now. Upload will remain disabled until the Excel template is finalized.</p>
                            <p>
                                <button type="button" class="btn btn-success btn-rounded" disabled><i class="ti-upload"></i> Upload File</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modalUploading"></div>
<script>
    (function() {
        var tooltip = document.getElementById('condition-global-tooltip');

        function hideTooltip() {
            if (!tooltip) return;
            tooltip.style.display = 'none';
            tooltip.textContent = '';
            tooltip.classList.remove('tooltip-above');
        }

        function showTooltip(target) {
            if (!tooltip) return;
            var text = target.getAttribute('data-condition-tooltip');
            if (!text) return;

            tooltip.textContent = text;
            tooltip.style.display = 'block';

            var rect = target.getBoundingClientRect();
            var tooltipRect = tooltip.getBoundingClientRect();
            var left = rect.left + (rect.width / 2);
            var top = rect.bottom + 10;

            if (left - (tooltipRect.width / 2) < 8) {
                left = (tooltipRect.width / 2) + 8;
            }
            if (left + (tooltipRect.width / 2) > window.innerWidth - 8) {
                left = window.innerWidth - (tooltipRect.width / 2) - 8;
            }
            if (top + tooltipRect.height > window.innerHeight - 8) {
                top = rect.top - tooltipRect.height - 10;
                tooltip.classList.add('tooltip-above');
            } else {
                tooltip.classList.remove('tooltip-above');
            }

            tooltip.style.left = left + 'px';
            tooltip.style.top = top + 'px';
        }

        document.addEventListener('mouseover', function(event) {
            var target = event.target.closest('.condition-indicator[data-condition-tooltip]');
            if (target) {
                showTooltip(target);
            }
        });

        document.addEventListener('mouseout', function(event) {
            var target = event.target.closest('.condition-indicator[data-condition-tooltip]');
            if (target) {
                hideTooltip();
            }
        });

        document.addEventListener('scroll', hideTooltip, true);
        window.addEventListener('resize', hideTooltip);
    })();
</script>
<script src="js/app.js?v=3"></script>
</body>
</html>
